$margin: 2rem;
$imgWidth: 100%;

.search{
  width: 350px;
  margin: $margin;
}
.container {
  margin: $margin;
}

.img{
  width: $imgWidth;
  height: 200px;
}

.title{
  font-size: 1.5rem;
  display : inline-block;
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
  width : 300px;
  margin-bottom: .5rem;
}

.heading{
  text-align: center;
  font-size: 3rem;
}

.detailImg{
  width: $imgWidth;
  margin-bottom: 2rem;
}

.wrap{
  background-color: lightgrey;
  margin: auto ;
  padding: 2rem;
  width: 60%;
}